@page "/"
@using FribergFastigheter.Client.Components
@using FribergFastigheter.Client.Components.Housing
@* 
<!-- Author: Jimmie -->
<!-- Co Authors: --> 
*@
<PageTitle>Home</PageTitle>

<div class="vertical-page-container">
    <div class="card vertical-page-section w-100 p-3">
        <div class="card-header w-100">
            <h1>Sök bostäder</h1>
        </div>
        <EditForm Model="HousingSearchFormInput" OnValidSubmit="@(() => SearchHousings())">
            <DataAnnotationsValidator />
            <div class="d-flex flex-column gap-3">
                <div class="d-flex flex-column">   
                    <label>Kategori</label>
                    <InputSelect @bind-Value="HousingSearchFormInput.SelectedCategoryId">
                        @foreach (var category in HousingSearchFormInput.HousingCategories)
                        {
                            <option value="@category.HousingCategoryId">@category.CategoryName</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => HousingSearchFormInput.SelectedCategoryId)" />
                </div>
                <div class="d-flex flex-column">   
                    <label>Kommun</label>
                    <InputSelect @bind-Value="HousingSearchFormInput.SelectedMunicipalityId">
                        @foreach (var municipality in HousingSearchFormInput.Municipalities)
                        {
                            <option value="@municipality.MunicipalityId">@municipality.MunicipalityName</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => HousingSearchFormInput.SelectedMunicipalityId)" />
                </div>
                <div class="d-flex flex-row gap-2">
                    <div class="d-flex flex-column">   
                        <label>Min pris</label>
                        <InputNumber @bind-Value="HousingSearchFormInput.MinPrice"></InputNumber>
                        <ValidationMessage For="@(() => HousingSearchFormInput.MinPrice)" />
                    </div>
                    <div class="d-flex flex-column">   
                        <label>Max pris</label>
                        <InputNumber @bind-Value="HousingSearchFormInput.MaxPrice"></InputNumber>
                        <ValidationMessage For="@(() => HousingSearchFormInput.MaxPrice)" />
                    </div>
                </div>
                <div class="d-flex flex-row gap-2">
                    <div class="d-flex flex-column">   
                        <label>Min yta</label>
                        <InputNumber @bind-Value="HousingSearchFormInput.MinLivingArea"></InputNumber>
                        <ValidationMessage For="@(() => HousingSearchFormInput.MinLivingArea)" />
                    </div>
                    <div class="d-flex flex-column">   
                        <label>Max yta</label>
                        <InputNumber @bind-Value="HousingSearchFormInput.MaxLivingArea"></InputNumber>
                        <ValidationMessage For="@(() => HousingSearchFormInput.MaxLivingArea)" />
                    </div>
                </div>
                <div class="d-flex flex-column">   
                    <label>Resultat per sida</label>
                    <InputSelect @bind-Value="HousingSearchFormInput.NumberOfResultsPerPage">
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="75">75</option>
                        <option value="100">100</option>
                    </InputSelect>
                    <ValidationMessage For="@(() => HousingSearchFormInput.NumberOfResultsPerPage)" />
                </div>
                <div class="d-flex flex-row justify-content-center">
                    <button>Sök</button>    
                </div>                
            </div>
        </EditForm>       
    </div
    @if (HousingSearchResult != null)
    {
        <HousingList Housings="HousingSearchResult.Housings" TruncateLongDescriptions="true" />
        
        @if (HousingSearchResult.Pagination != null)
        {
            <div class="d-flex flex-row gap-2 align-items-center">
                @for (int i = 1; i <= HousingSearchResult.Pagination.NumberOfRequestablePages; i++)
                {
                    @if (HousingSearchResult.Pagination.CurrentPage == i)
                    {
                        <span class="pagination-number active fw-bold fs-5" >@i</span>
                    }
                    else
                    {
                        // Is needed due to how lambda works
                        int pageNumber = i;
                        <span class="pagination-number" @onclick="@(() => SearchHousings(pageNumber))">@i</span>
                    }
                    
                }
            </div>
        }    
    }
    else if (_haveSearchedHousings)
    {
        <p class="text-center">Inga bostäder hittades.</p>
    }
</div>

