@page "/"
@using FribergFastigheter.Client.Components
@using FribergFastigheter.Client.Components.Housing
@* 
<!-- Author: Jimmie -->
<!-- Co Authors: --> 
*@
<PageTitle>Home</PageTitle>

<div class="vertical-page-container mt-4">
    <div class="d-flex flex-column align-items-center gap-3 col-md-12 col-xxl-10">
        <div class="card vertical-page-section w-100">
            <div class="card-header w-100">
                <h1>Sök bostäder</h1>
            </div>
            <EditForm Context="FormContext" Model="HousingSearchService.HousingSearchFormInput" OnValidSubmit="@(() => SearchHousings())">
                <DataAnnotationsValidator />
                <div class="d-flex flex-column gap-3">
                    <div class="d-flex flex-column">
                        <label>Kategori</label>
                        <InputSelect @bind-Value="HousingSearchService.HousingSearchFormInput.SelectedCategoryId">
                            @foreach (var category in HousingSearchService.HousingSearchFormInput.HousingCategories)
                            {
                                <option value="@category.HousingCategoryId">@category.CategoryName</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="@(() => HousingSearchService.HousingSearchFormInput.SelectedCategoryId)" />
                    </div>
                    <div class="d-flex flex-column">
                        <label>Kommun</label>
                        <InputSelect @bind-Value="HousingSearchService.HousingSearchFormInput.SelectedMunicipalityId">
                            @foreach (var municipality in HousingSearchService.HousingSearchFormInput.Municipalities)
                            {
                                <option value="@municipality.MunicipalityId">@municipality.MunicipalityName</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="@(() => HousingSearchService.HousingSearchFormInput.SelectedMunicipalityId)" />
                    </div>
                    <div class="d-flex flex-row gap-2">
                        <div class="d-flex flex-column">
                            <label>Min pris</label>
                            <InputNumber @bind-Value="HousingSearchService.HousingSearchFormInput.MinPrice"></InputNumber>
                            <ValidationMessage For="@(() => HousingSearchService.HousingSearchFormInput.MinPrice)" />
                        </div>
                        <div class="d-flex flex-column">
                            <label>Max pris</label>
                            <InputNumber @bind-Value="HousingSearchService.HousingSearchFormInput.MaxPrice"></InputNumber>
                            <ValidationMessage For="@(() => HousingSearchService.HousingSearchFormInput.MaxPrice)" />
                        </div>
                    </div>
                    <div class="d-flex flex-row gap-2">
                        <div class="d-flex flex-column">
                            <label>Min yta</label>
                            <InputNumber @bind-Value="HousingSearchService.HousingSearchFormInput.MinLivingArea"></InputNumber>
                            <ValidationMessage For="@(() => HousingSearchService.HousingSearchFormInput.MinLivingArea)" />
                        </div>
                        <div class="d-flex flex-column">
                            <label>Max yta</label>
                            <InputNumber @bind-Value="HousingSearchService.HousingSearchFormInput.MaxLivingArea"></InputNumber>
                            <ValidationMessage For="@(() => HousingSearchService.HousingSearchFormInput.MaxLivingArea)" />
                        </div>
                    </div>
                    <div class="d-flex flex-column">
                        <label>Resultat per sida</label>
                        <InputSelect @bind-Value="HousingSearchService.HousingSearchFormInput.NumberOfResultsPerPage">
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="75">75</option>
                            <option value="100">100</option>
                        </InputSelect>
                        <ValidationMessage For="@(() => HousingSearchService.HousingSearchFormInput.NumberOfResultsPerPage)" />
                    </div>
                    <div class="d-flex flex-row justify-content-center">
                        <button class="btn btn-primary">Sök</button>
                    </div>
                </div>
            </EditForm>
            <div class="card-footer w-100"></div>
        </div>
        @if (HousingSearchService.HousingSearchResult != null)
        {
            <HousingList Housings="HousingSearchService.HousingSearchResult.Housings" TruncateLongDescriptions="true" />

            @if (HousingSearchService.HousingSearchResult.Pagination != null)
            {
                <div class="d-flex flex-row gap-2 align-items-center">
                    @for (int i = 1; i <= HousingSearchService.HousingSearchResult.Pagination.NumberOfRequestablePages; i++)
                    {
                        @if (HousingSearchService.HousingSearchResult.Pagination.CurrentPage == i)
                        {
                            <span class="pagination-number active fw-bold fs-5">@i</span>
                        }
                        else
                        {
                            // Is needed due to how lambda works
                            int pageNumber = i;
                            <span class="pagination-number" @onclick="@(() => SearchHousings(pageNumber))">@i</span>
                        }

                    }
                </div>
            }
        }
        else if (_isSearchingHousings)
        {
            <LoadingIndicator></LoadingIndicator>
        }
        else if (HousingSearchService.HaveSearchedHousings)
        {
            <p class="text-center">Inga bostäder hittades.</p>
        }
    </div>
    
</div>

