@*  <!-- Author: Marcus -->
       <!-- Co Authors: --> *@

<div class="vertical-page-container">
    <div class="d-flex flex-row full-width justify-content-between">
        <div></div>
        <div><h2>@Broker.FirstName @Broker.LastName</h2></div>
        <div>
            @if(Broker.BrokerFirm.Logotype != null)        
            {
                <AuthorizeView>
                    <Authorized>
                        <img src="@Broker.BrokerFirm.Logotype.Url" />
                    </Authorized>
                    <NotAuthorized>
                        <a href="brokerfirm/@Broker.BrokerFirm.BrokerFirmId"><img src="@Broker.BrokerFirm.Logotype.Url" /></a>
                    </NotAuthorized>
                </AuthorizeView>
            } 
        </div>
    </div>
    <div class="broker-list">
        <div class="broker-card">
            <div class="broker-info">
                <h4>Info:</h4>
                <AuthorizeView>
                    <Authorized>
                        <h5>Mäklarbyrå: @Broker.BrokerFirm.Name</h5>
                    </Authorized>
                    <NotAuthorized>
                        <h5>Mäklarbyrå: <a href="brokerfirm/@Broker.BrokerFirm.BrokerFirmId">@Broker.BrokerFirm.Name</a></h5>
                    </NotAuthorized>
                </AuthorizeView>
                <h5>Telefonnummer: @Broker.PhoneNumber</h5>
                <h5>Email: @Broker.Email</h5>
            </div>
            <img class="profile-img-details" src="@Broker.ProfileImageOrPlaceholder" />
        </div>
    </div>
        <h4>Beskrivning</h4>
    <div class="broker-details">
        
        @if (String.IsNullOrEmpty(@Broker.Description))
        {
            <i>Mäklaren har inte fyllt i någon beskrivning.</i>
        }
        else
        {
            var paragraphs = Broker.Description.Split(Environment.NewLine, StringSplitOptions.RemoveEmptyEntries);

            foreach (var paragraph in paragraphs)
            {
                <p>@($"{paragraph}{Environment.NewLine}")</p>
            }
        }
    </div>
</div>
