<AuthorizeView Policy="@ApplicationPolicies.CanEditBroker" Resource="Broker">
    <div class="card full-width">
        <div class="card-header d-flex flex-row justify-content-center">Editera denna mäklare</div>
        <div class="card-body">
            <EditForm Context="FormContext" Model="BrokerFormInput" OnValidSubmit="OnValidSubmit">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <div class="d-flex flex-column align-items-center">
                    <div class="d-flex flex-column gap-3 col-md-6 col-xxl-5">
                        @if (_apiValidationErrors.Count > 0)
                        {
                            <ul>
                                @{
                                    foreach (var error in _apiValidationErrors)
                                    {
                                        <li class="text-danger">@error</li>
                                    }
                                }
                            </ul>
                        }
                        <AuthorizeView Context="BrokerAdminEdit" Policy="@ApplicationPolicies.CanEditFullBroker" Resource="Broker">
                        <div class="d-flex flex-column">
                            <label>Förnamn*</label>
                            <InputText @bind-Value="BrokerFormInput.FirstName"></InputText>
                            <ValidationMessage For="@(() => BrokerFormInput.FirstName)" />
                        </div>
                        <div class="d-flex flex-column">
                            <label>Efternamn*</label>
                            <InputText @bind-Value="BrokerFormInput.LastName"></InputText>
                            <ValidationMessage For="@(() => BrokerFormInput.LastName)" />
                        </div>
                        <div class="d-flex flex-column">
                            <label>Epost*</label>
                            <InputText @bind-Value="BrokerFormInput.Email"></InputText>
                            <ValidationMessage For="@(() => BrokerFormInput.Email)" />
                        </div>
                        <div class="d-flex flex-column">
                            <label>Telefonnummer*</label>
                            <InputText @bind-Value="BrokerFormInput.PhoneNumber"></InputText>
                            <ValidationMessage For="@(() => BrokerFormInput.PhoneNumber)" />
                        </div>
                    </AuthorizeView>
                    <div class="d-flex flex-column">
                        <label>Beskrivning*</label>
                        <InputTextArea @bind-Value="BrokerFormInput.Description"></InputTextArea>
                        <ValidationMessage For="@(() => BrokerFormInput.Description)" />
                    </div>
                    <div class="d-flex flex-row justify-content-left gap-5">
                                   
                        @if (BrokerFormInput.ProfileImage != null)
                        {
                            <div class="d-flex flex-column gap-3">
                                <label class="text-center"> Nuvarande profilbild</label>
                                <img class="profile-img" src="@BrokerFormInput.ProfileImageOrPlaceholder" />
                                <div class="d-flex justify-content-center"><button type="button" class="btn btn-danger" @onclick=@(() => OnDeleteImageButtonClickedEventHandler())>Radera</button></div>
                            </div>
                        }
                        else
                        {
                            <div class="d-flex flex-column justify-content-left gap-3">
                                <label>Ladda upp en ny profilbild</label>
                                <InputFile OnChange="OnFileUploadChanged"></InputFile>
                            </div>
                        }
                    </div>

                    <div class="d-flex flex-row justify-content-center gap-3">
                        <button class="btn btn-success">Spara</button>
                        <button class="btn btn-danger" @onclick="@(() => CloseEditForm())">Avbryt</button>
                    </div>
                </div>
            </div>
            </EditForm>
        </div>
    </div>
</AuthorizeView>
