@using FribergFastigheter.Client.Components.Accordion
@*  
<!-- Author: Jimmie -->
<!-- Co Authors: -->
*@
<AuthorizeView Policy="@ApplicationPolicies.Broker">
    @if (EditHousingInput != null)
    {
        <div class="card full-width">
            <div class="card-header d-flex flex-row justify-content-center">Redigera husobjekt</div>
            <div class="card-body">
                <EditForm Context="FormContext" Model="EditHousingInput" OnValidSubmit="OnValidSubmit">
                    <DataAnnotationsValidator></DataAnnotationsValidator>
                    <div class="d-flex flex-column gap-3 w-100">
                        @* Input fields *@
                        <AccordionContainer>
                            <div class="d-flex flex-column gap-3 w-100 align-items-center">
                                <AccordionPageFragment ButtonText="Obligatoriska uppgifter" StartOpen=true>
                                    <div class="d-flex flex-column align-items-center">                                
                                    <div class="d-flex flex-column gap-3 col-md-6 col-xxl-5">
                                        <label>Obligatoriska uppgifter</label>
                                        <AuthorizeView Context="AdminEditContext" Policy="@ApplicationPolicies.BrokerAdmin">
                                            <div class="d-flex flex-column">
                                                <label>Mäklare*</label>
                                                <InputSelect @bind-Value="EditHousingInput.BrokerId">
                                                    @foreach (var broker in EditHousingInput.Brokers!)
                                                    {
                                                        <option value="@broker.BrokerId">@broker.FullName</option>
                                                    }
                                                </InputSelect>
                                                <ValidationMessage For="@(() => EditHousingInput.SelectedCategoryId)" />
                                            </div>
                                        </AuthorizeView>
                                        <div class="d-flex flex-column">
                                            <label>Kategori*</label>
                                            <InputSelect @bind-Value="EditHousingInput.SelectedCategoryId">
                                                @foreach (var category in EditHousingInput.HousingCategories)
                                                {
                                                    <option value="@category.HousingCategoryId">@category.CategoryName</option>
                                                }
                                            </InputSelect>
                                            <ValidationMessage For="@(() => EditHousingInput.SelectedCategoryId)" />
                                        </div>
                                        <div class="d-flex flex-column">
                                            <label>Kommun*</label>
                                            <InputSelect @bind-Value="EditHousingInput.SelectedMunicipalityId">
                                                @foreach (var municipality in EditHousingInput.Municipalities)
                                                {
                                                    <option value="@municipality.MunicipalityId">@municipality.MunicipalityName</option>
                                                }
                                            </InputSelect>
                                            <ValidationMessage For="@(() => EditHousingInput.SelectedMunicipalityId)" />
                                        </div>
                                        <div class="d-flex flex-column">
                                            <label>Adress*</label>
                                            <InputText @bind-Value="EditHousingInput.Address"></InputText>
                                            <ValidationMessage For="@(() => EditHousingInput.Address)" />
                                        </div>
                                        <div class="d-flex flex-column">
                                            <label>Pris*</label>
                                            <InputNumber @bind-Value="EditHousingInput.Price"></InputNumber>
                                            <ValidationMessage For="@(() => EditHousingInput.Price)" />
                                        </div>
                                        <div class="d-flex flex-column">
                                            <label>Boyta*</label>
                                            <InputNumber @bind-Value="EditHousingInput.LivingArea"></InputNumber>
                                            <ValidationMessage For="@(() => EditHousingInput.LivingArea)" />
                                        </div>
                                        <div class="d-flex flex-column">
                                            <label>Beskrivning*</label>
                                            <InputTextArea @bind-Value="EditHousingInput.Description" rows="5"></InputTextArea>
                                            <ValidationMessage For="@(() => EditHousingInput.Description)" />
                                        </div>
                                    </div>
                                </div>
                                </AccordionPageFragment>
                                <AccordionPageFragment ButtonText="Frivilliga uppgifter" StartOpen=false>
                                    <div class="d-flex flex-column align-items-center">      
                                    <div class="d-flex flex-column gap-3 col-md-6 col-xxl-5">
                                        <label>Frivilliga uppgifter</label>
                                        <div class="d-flex flex-column">
                                            <label>Biyta</label>
                                            <InputNumber @bind-Value="EditHousingInput.AncillaryArea"></InputNumber>
                                            <ValidationMessage For="@(() => EditHousingInput.AncillaryArea)" />
                                        </div>
                                        <div class="d-flex flex-column">
                                            <label>Landyta</label>
                                            <InputNumber @bind-Value="EditHousingInput.LandArea"></InputNumber>
                                            <ValidationMessage For="@(() => EditHousingInput.LandArea)" />
                                        </div>
                                        <div class="d-flex flex-column">
                                            <label>Månadsavgift</label>
                                            <InputNumber @bind-Value="EditHousingInput.MonthlyFee"></InputNumber>
                                            <ValidationMessage For="@(() => EditHousingInput.MonthlyFee)" />
                                        </div>
                                        <div class="d-flex flex-column">
                                            <label>Årlig driftskostnad</label>
                                            <InputNumber @bind-Value="EditHousingInput.YearlyRunningCost"></InputNumber>
                                            <ValidationMessage For="@(() => EditHousingInput.YearlyRunningCost)" />
                                        </div>
                                        <div class="d-flex flex-column">
                                            <label>Antal rum</label>
                                            <InputNumber @bind-Value="EditHousingInput.RoomCount"></InputNumber>
                                            <ValidationMessage For="@(() => EditHousingInput.RoomCount)" />
                                        </div>
                                        <div class="d-flex flex-column">
                                            <label>Byggår</label>
                                            <InputNumber @bind-Value="EditHousingInput.BuildYear"></InputNumber>
                                            <ValidationMessage For="@(() => EditHousingInput.BuildYear)" />
                                        </div>                                        
                                    </div>
                                </div>
                                </AccordionPageFragment>
                                <AccordionPageFragment ButtonText="Bilder" StartOpen=false>
                                @* Image gallery and buttons *@
                                    <div class="d-flex flex-row justify-content-center">
                                        <div class="d-flex flex-column">
                                            <label>Bilder</label>
                                            <InputFile OnChange="OnFileUploadChanged" multiple></InputFile>
                                        </div>
                                    </div>
                                    <div class="tiled-image-gallery tiled-image-gallery.tiled-image-gallery__image-size_small edit-images-container mt-2">
                                        @foreach (var image in Housing.Images)
                                        {
                                            var currentImage = image;
                                            <figure>
                                                <img class="housing-image" src="@image.Url" />
                                                <figcaption>
                                                    <button type="button" class="btn btn-danger" @onclick=@(() => OnDeleteImageButtonClickedEventHandler(currentImage))>Radera</button>
                                                </figcaption>
                                            </figure>
                                        }
                                    </div>
                                </AccordionPageFragment>
                            </div>
                        </AccordionContainer>                        
                        <div class="d-flex flex-row justify-content-center gap-3">
                            <button class="btn btn-success">Spara</button>
                            <button class="btn btn-warning" @onclick="@(() => OnCancelHousingEditButtonClicked())">Avbryt</button>
                        </div>  
                    </div>
                </EditForm>
            </div>
        </div>
    }
</AuthorizeView>
