@{
    string dialogId = Guid.NewGuid().ToString();
    string labelId = Guid.NewGuid().ToString();
}
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#@dialogId">
    Radera
</button>
<div class="modal fade" id="@dialogId" tabindex="-1" aria-labelledby="@labelId" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="@labelId">@Title</h1>
            </div>
            <div class="modal-body">
                @Body
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal" @onclick="@(() => OnDialogButtonClickedEventHandler())">Stäng</button>
            </div>
        </div>
    </div>
</div>
