@using FribergFastigheter.Client.HelperClasses
@using FribergFastigheter.Client.Components
@* 
<!-- Author: Jimmie -->
<!-- Co Authors: --> 
*@
<div class="vertical-page-section">
    <div id="housing-image-details-container" class="card vertical-page-section" hidden="@IsImageGalleryActive">
        <div class="card-header housing-result-header d-flex flex-row justify-content-between full-width">
            <div>@Housing.Broker.FullName</div>
            <div>@Housing.Category.CategoryName</div>
            <div class="d-flex flex-row justify-content-end">
                @if (Housing.Broker.BrokerFirm.Logotype != null)
                {
                    <img class="broker-firm-logotype" src="@Housing.Broker.BrokerFirm.Logotype.Url" />
                }
            </div>
        </div>    
        <div class="vertical-page-section">
            <ImageSlideShow Images="ImageSlides" ShowNavigationalDots="true"></ImageSlideShow>
            <button @onclick="@(() => OpenImageGallery())">Bildgalleri</button>
        </div>
        <div class="card-header full-width">
            <div class="card-title display-4 text-center">@(StringFormatHelper.FormatPrice(Housing.Price))</div>
            <div class="card-subtitle display-6 text-center text-muted mb-2">@Housing.Address</div>
            <div class="card-subtitle display-6 text-center text-muted mb-2">@Housing.Municipality.MunicipalityName</div>
            <div class="d-flex flex-row justify-content-center gap-4 flex-wrap full-width fs-5">
                <span>Boyta: @Housing.LivingArea</span>
                @if (Housing.RoomCount != null)
                {
                    <span>Antal rum: @Housing.RoomCount</span>
                }
                @if (Housing.AncillaryArea != null)
                {
                    <span>Övrig yta: @Housing.AncillaryArea</span>
                }
                @if (Housing.LandArea != null)
                {
                    <span>Landyta: @Housing.LandArea</span>
                }
                @if (Housing.BuildYear != null)
                {
                    <span>Byggår: @Housing.BuildYear</span>
                }
                @if (Housing.MonthlyFee != null)
                {
                    <span>Månadskostnad: @StringFormatHelper.FormatPrice(@Housing.MonthlyFee.Value)</span>
                }
                @if (Housing.YearlyRunningCost != null)
                {
                    <span>Årlig kostnad: @StringFormatHelper.FormatPrice(@Housing.YearlyRunningCost.Value)</span>
                }
            </div>
        </div>
        <div class="card-body">
            @{
                var paragraphs = Housing.Description.Split(Environment.NewLine, StringSplitOptions.RemoveEmptyEntries);

                foreach (var paragraph in paragraphs)
                {
                    <p class="card-text">@($"{paragraph}{Environment.NewLine}")</p>
                }
            }
        </div>
    </div>
    <div id="housing-image-gallery-container" class="card vertical-page-section pt-0" hidden="@(!IsImageGalleryActive)">
        <div class="card-header w-100">
            <div class="text-center">Bildgalleri</div>
        </div>
        <div></div>
        <button class="center" @onclick="@(() => CloseImageGallery())">Stäng</button>
        <div class="tiled-image-gallery tiled-image-gallery__image-size_medium full-width">
        @foreach (var image in Housing.Images)
        {
            <img class="housing-image" src="@image.Url" />
        }
        </div>
    </div>
</div>