<div class="image-slideshow-container">
	@if (Images.Count > 0)
	{
		@foreach (var image in Images)
		{
			<div class="image-slide image-fade">
				@if (image.LinksToUrl is not null)
				{
					<a href="@image.LinksToUrl">
						<img src="@image.Url" class="full-width max-height__50vh cover-image" />
						@if (image.HaveCaption)
						{
							<div class="image-slide-caption">@image.ImageCaption</div>
						}
					</a>
				}
				else
				{
					<img src="@image.Url" class="full-width max-height__50vh cover-image" />
					@if (image.HaveCaption)
					{
						<div class="image-slide-caption">@image.ImageCaption</div>
					}
				}
			</div>
		}
		<a class="previous-slider-button" onclick="ShowNextSlide(-1)">&#10094;</a>
		<a class="next-slider-button" onclick="ShowNextSlide(1)">&#10095;</a>
		<div class="text-align-center">
			@for (int i = 0; i < Images.Count; i++)
			{
				<span class="navigation-dot" onclick="SetNextSlide(@i)"></span>
			}
		</div>
	}	
</div>

<script defer type="text/javascript">

	let imageSlideIndex = 0;
	let imageSlides = document.getElementsByClassName("image-slide");
	let navigationDots = document.getElementsByClassName("navigation-dot");

	setInterval(() => (
		ShowNextSlide(1)
	), 5000);

	ShowSlide();

	function SetSlideIndex(index) {
		imageSlideIndex = index;

		if (imageSlideIndex >= imageSlides.length) {
			imageSlideIndex = 0;
		}
		else if (imageSlideIndex < 0) {
			imageSlideIndex = imageSlides.length - 1;
		}
	}

	function ShowNextSlide(offset) {
		SetSlideIndex(imageSlideIndex + offset);
		ShowSlide();
	}

	function SetNextSlide(index) {
		SetSlideIndex(index);
		ShowSlide();
	}

	function ShowSlide() {
		for (let i = 0; i < imageSlides.length; i++) {
			imageSlides[i].classList.remove("active");
		}

		for (i = 0; i < navigationDots.length; i++) {
			navigationDots[i].classList.remove("active");
		}

		imageSlides[imageSlideIndex].classList.add("active");
		navigationDots[imageSlideIndex].classList.add("active");

		console.log(navigationDots[imageSlideIndex]);
	}
</script>