@*
<!-- Author: Jimmie -->
<!-- Co Authors: -->
*@
@{
    string headingId = Guid.NewGuid().ToString();
    string pageId = Guid.NewGuid().ToString();
    string pageButtonStylingClass = IsOpen ? "" : "collapsed";
    string pageContainerVisibilityClass = IsOpen ? "show" : "";
}
<div class="accordion accordion-flush" id="@AccordionContainerIdString">
    <div class="accordion-item">
        <h2 class="accordion-header" id="@headingId">
            <button class="accordion-button @(pageButtonStylingClass)" type="button" data-bs-toggle="collapse" data-bs-target="#@pageId" aria-expanded="true" aria-controls="@pageId">
                @ButtonText
            </button>
        </h2>
        <div id="@pageId" class="accordion-collapse collapse @(pageContainerVisibilityClass)" aria-labelledby="@headingId" data-bs-parent="#@AccordionContainerIdString">
            <div class="accordion-body">
                <div class="row">
                    <div class="col">
                        <div class="h5 card-title text-uppercase text-muted text-align-left mb-0">@Label</div>
                        <span class="h2 font-weight-bold mb-0">@Value</span>
                    </div>
                    <div class="col-auto d-flex flex-column justify-content-center align-items-center">
                        <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                            <i class="@FontAwesomeIconClass"></i>
                        </div>
                    </div>
                </div>
                @if (HaveTrendData)
                {
                    string arrowClass = ValueChangeInPercentage > 0 ? "fas fa-arrow-up" : "fas fa-arrow-down";
                    <p class="mt-3 mb-0 text-muted text-sm">
                        <span class="text-warning mr-2"><i class="@arrowClass"></i> @($"{ValueChangeInPercentage:N2}")%</span>
                        <span class="text-nowrap">@ValueChangeSinceText</span>
                    </p>
                }                
            </div>
        </div>
    </div>
</div>